@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://use.typekit.net/sul8sfm.css");
.header {
  position: relative; }

.header__container {
  max-width: 1200px;
  margin: 0 auto; }

@media (min-width: 960px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.header--dark {
  color: #fff; }

.header--dark a {
  color: #fff; }

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-top: 14px; }

.header__logo img {
  display: block; }

@media (min-width: 600px) {
  .header__logo {
    padding-left: 48px; } }

@media (min-width: 1280px) {
  .header__logo {
    padding-left: 0; } }

.header__mview {
  position: absolute;
  right: 80px;
  top: 36px; }

@media (min-width: 600px) {
  .header__mview {
    right: 104px; } }

@media (min-width: 960px) {
  .header__mview {
    display: none; } }

.header__nav {
  padding: 24px;
  padding-top: 16px;
  border-top: solid 1px rgba(255, 255, 255, 0.08);
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
  display: none; }

.header__nav a:hover {
  opacity: 0.48; }

.header__nav--active {
  display: block; }

@media (min-width: 600px) {
  .header__nav {
    padding-left: 48px;
    padding-right: 48px; } }

@media (min-width: 960px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: none;
    border-bottom: 0;
    padding-top: 30px; } }

@media (min-width: 1280px) {
  .header__nav {
    padding-left: 0;
    padding-right: 0; } }

.header__nav-list {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style: none; }

.header__nav-list a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px; }

.header__nav-list--separator {
  display: none; }

@media (min-width: 960px) {
  .header__nav-list--separator {
    display: block;
    padding-left: 12px;
    margin-top: 0; } }

@media (min-width: 960px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: -16px;
    margin-right: -16px; }
  .header__nav-list a {
    padding-left: 16px;
    padding-right: 16px; } }

.header__lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem; }

.header__lang i {
  margin-right: 8px; }

@media (min-width: 960px) {
  .header__lang {
    margin-left: 64px; } }

.header__navtrigger {
  width: 32px;
  height: 20px;
  display: block;
  position: absolute;
  right: 24px;
  top: 18px;
  border-top: solid 2px #fff; }

.header__navtrigger--indent {
  top: 42px; }

.header__navtrigger::before {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; }

.header__navtrigger::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0; }

.header__navtrigger--close {
  border-top: 0; }

.header__navtrigger--close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 9px; }

.header__navtrigger--close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px; }

@media (min-width: 600px) {
  .header__navtrigger {
    right: 48px; } }

@media (min-width: 960px) {
  .header__navtrigger {
    display: none; } }

.lang {
  display: none;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 9999;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 24px; }

@media (min-width: 600px) {
  .lang {
    padding: 48px; } }

@media (min-width: 960px) {
  .lang {
    padding: 64px; } }

@media (min-width: 1280px) {
  .lang {
    padding: 128px; } }

.lang--active {
  display: block;
  -webkit-animation: anima 0.5s ease;
  animation: anima 0.5s ease; }

.lang--deactive {
  display: block;
  -webkit-animation: animaOut 0.5s ease;
  animation: animaOut 0.5s ease; }

.lang__container {
  max-width: 1200px;
  margin: 0 auto; }

.lang__header {
  position: relative;
  margin-bottom: 16px;
  padding-right: 88px;
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(45, 50, 56, 0.08); }

.lang__title {
  margin-bottom: 0; }

.lang__close {
  position: absolute;
  top: 6px;
  right: 0;
  width: 32px;
  height: 20px;
  display: block; }

.lang__close::before {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #2D3238;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.lang__close::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #2D3238;
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.lang__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

@media (min-width: 600px) {
  .lang__list {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 960px) {
  .lang__list {
    grid-template-columns: repeat(3, 1fr); } }

.lang__list-item a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #2D3238; }

.lang__list-item a:hover {
  color: rgba(45, 50, 56, 0.48); }

@-webkit-keyframes anima {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes anima {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes animaOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animaOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hero {
  color: #fff;
  background-color: #2D3238;
  position: relative;
  overflow: hidden; }

@media (min-width: 960px) {
  .hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 622px;
    height: 402px;
    background: url(../../../assets/img/hero_left_top.svg) 0 0 no-repeat;
    pointer-events: none;
    z-index: 0; } }

@media (min-width: 960px) {
  .hero::after {
    content: "";
    position: absolute;
    right: -50%;
    bottom: -128px;
    display: block;
    width: 1431px;
    height: 828px;
    background: url(../../../assets/img/hero_right_bottom.svg) 0 0 no-repeat;
    pointer-events: none;
    z-index: 0; } }

@media (min-width: 1280px) {
  .hero::after {
    right: 0; } }

.hero__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px; }

@media (min-width: 600px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 48px;
    padding-right: 48px; } }

@media (min-width: 960px) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (min-width: 1280px) {
  .hero__container {
    padding-left: 0;
    padding-right: 0; } }

.hero__title {
  font-size: 4rem;
  margin-bottom: 16px;
  color: #fff; }

@media (min-width: 960px) {
  .hero__title {
    font-size: 5.2rem; } }

.hero__side {
  position: relative;
  z-index: 2;
  margin-bottom: 24px; }

@media (min-width: 600px) {
  .hero__side {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% / 1.5);
    flex: 1 0 calc(100% / 1.5);
    max-width: calc(100% / 1.5); } }

@media (min-width: 960px) {
  .hero__side {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% / 2);
    flex: 1 0 calc(100% / 2);
    max-width: calc(100% / 2);
    padding-right: 64px;
    margin-bottom: 0;
    padding-bottom: 64px; } }

.hero__form {
  width: 100%;
  display: none; }

@media (min-width: 960px) {
  .hero__form {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% / 2);
    flex: 1 0 calc(100% / 2);
    max-width: calc(100% / 2);
    padding-left: 64px; } }

.hero__form-basis {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  color: #2D3238; }

@media (min-width: 960px) {
  .hero__form-basis {
    padding: 32px; } }

.hero__form-undr {
  display: block;
  text-align: center; }

.sform__group {
  margin-bottom: 16px; }

.sform__group-label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
  font-style: normal; }

.sform__group-field {
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  height: 48px;
  border: solid 1px rgba(45, 50, 56, 0.16);
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px; }

.sform__group-field:focus {
  -webkit-box-shadow: 0 2px 8px rgba(45, 50, 56, 0.08);
  box-shadow: 0 2px 8px rgba(45, 50, 56, 0.08); }

.sform__group-field--error {
  border-color: red; }

.sform__group-hint {
  display: block;
  font-size: 1.4rem;
  color: rgba(45, 50, 56, 0.64);
  margin-top: 4px; }

.sform__group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.sform__group-inline--pcode .sform__group-field:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.sform__group-inline--pcode .sform__group-field:last-child {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.sform__group-checkbox {
  position: relative;
  display: block;
  margin-bottom: 24px;
  padding-left: 40px; }

.sform__group-checkbox input[type='checkbox'] {
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  cursor: pointer; }

.sform__group-checkbox input[type='checkbox']:hover + .sform__group-checkbox-sub {
  border: solid 1px rgba(45, 50, 56, 0.18);
  -webkit-box-shadow: 0 2px 8px rgba(45, 50, 56, 0.12);
  box-shadow: 0 2px 8px rgba(45, 50, 56, 0.12); }

.sform__group-checkbox input[type='checkbox']:checked + .sform__group-checkbox-sub {
  background-color: #40DF6D;
  border-color: #40DF6D;
  -webkit-box-shadow: none;
  box-shadow: none; }

.sform__group-checkbox input[type='checkbox']:checked + .sform__group-checkbox-sub::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 11px;
  width: 2px;
  height: 6px;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sform__group-checkbox input[type='checkbox']:checked + .sform__group-checkbox-sub::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 5px;
  width: 2px;
  height: 13px;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.sform__group-checkbox-sub {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: solid 1px rgba(45, 50, 56, 0.18);
  background-color: #fff;
  border-radius: 4px; }

.sform__group-checkbox-desc {
  font-size: 1.6rem;
  color: rgba(45, 50, 56, 0.64); }

.sform__group-error {
  color: red;
  font-size: 1.4rem;
  display: block;
  margin-top: 4px; }

.btn {
  position: relative;
  outline: none;
  text-align: center;
  height: 48px;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(45, 50, 56, 0.16);
  padding-left: 32px;
  padding-right: 32px; }

.btn--primary {
  background-color: #40DF6D;
  color: #fff; }

.btn--primary:hover {
  background-color: #63e588; }

.btn--primary:active {
  bottom: -1px;
  background-color: #23d355; }

.btn--dark {
  background-color: #3f464f;
  color: #fff; }

.btn--dark:hover {
  background-color: #48505a; }

.btn--dark:active {
  bottom: -1px;
  background-color: #3f464f; }

.btn--sm {
  height: 32px;
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px; }

.btn--wide {
  width: 100%; }

.panel {
  position: relative; }

@media (min-width: 960px) {
  .panel {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr); } }

.panel__logo {
  position: absolute;
  left: 24px;
  top: 14px;
  z-index: 5; }

.panel__logo img {
  display: block;
  -webkit-filter: brightness(-100%);
  filter: brightness(-100%); }

@media (min-width: 600px) {
  .panel__logo {
    left: 32px; } }

@media (min-width: 960px) {
  .panel__logo img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%); } }

.panel__lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem;
  color: #2D3238;
  margin-right: 16px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.panel__lang span {
  display: none; }

@media (min-width: 960px) {
  .panel__lang span {
    display: block; } }

.panel__lang i {
  margin-right: 8px; }

@media (min-width: 600px) {
  .panel__lang {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
    margin-left: 32px; } }

.panel__quote {
  display: none; }

@media (min-width: 960px) {
  .panel__quote {
    background-color: #2D3238;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 64px;
    position: relative; } }

@media (min-width: 1280px) {
  .panel__quote {
    padding: 128px; } }

.panel__quote-container {
  max-width: 472px;
  position: relative;
  z-index: 2; }

.panel__quote-bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.panel__quote-bgimage img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.4; }

.panel__action {
  padding: 24px;
  padding-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (min-width: 960px) {
  .panel__action {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 64px; } }

@media (min-width: 1280px) {
  .panel__action {
    padding: 128px; } }

.panel__heading {
  font-size: 4rem;
  margin-bottom: 16px;
  color: #fff; }

@media (min-width: 960px) {
  .panel__heading {
    font-size: 5.2rem; } }

.panel__form {
  max-width: 472px; }

.panel__active-corner {
  position: absolute;
  right: 24px;
  top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.panel__active-corner .txt--sm {
  display: none; }

.panel__active-corner .btn {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

@media (min-width: 960px) {
  .panel__active-corner .btn {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 600px) {
  .panel__active-corner {
    right: 32px; }
  .panel__active-corner .txt--sm {
    display: block;
    margin-right: 16px; } }

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #2D3238; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #40DF6D; }

p {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #2D3238;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: block; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 3.2rem; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.indent__lg--bottom {
  margin-bottom: 24px; }

.indent--bottom {
  margin-bottom: 16px; }

.def-link {
  color: inherit;
  text-decoration: underline; }

.txt--lg {
  font-size: larger; }

.txt--sm {
  font-size: smaller; }

.txt--white {
  color: #fff; }

.txt--light {
  opacity: 0.64; }

.txt--center {
  text-align: center; }

.hide {
  display: block; }

@media (min-width: 960px) {
  .hide--md {
    display: none; } }
