.header {
	position: relative;
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		@include media(md) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
	&--dark {
		color: $white;
		a {
			color: $white;
		}
	}
	&__logo {
		display: inline-flex;
		padding-left: 24px;
		padding-bottom: 24px;
		padding-top: 14px;
		img {
			display: block;
		}
		@include media(sm) {
			padding-left: 48px;
		}
		@include media(lg) {
			padding-left: 0;
		}
	}
	&__mview {
		position: absolute;
		right: 80px;
		top: 36px;
		@include media(sm) {
			right: 104px;
		}
		@include media(md) {
			display: none;
		}
	}
	&__nav {
		padding: 24px;
		padding-top: 16px;
		border-top: solid 1px rgba($white, 0.08);
		border-bottom: solid 1px rgba($white, 0.08);
		display: none;
		a {
			&:hover {
				opacity: 0.48;
			}
		}
		&--active {
			display: block;
		}
		@include media(sm) {
			padding-left: 48px;
			padding-right: 48px;
		}
		@include media(md) {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-top: none;
			border-bottom: 0;
			padding-top: 30px;
		}
		@include media(lg) {
			padding-left: 0;
			padding-right: 0;
		}
		&-list {
			padding: 0;
			margin: 0;
			margin-bottom: 16px;
			list-style: none;
			a {
				display: block;
				padding-top: 8px;
				padding-bottom: 8px;
			}
			&--separator {
				display: none;
				@include media(md) {
					display: block;
					padding-left: 12px;
					margin-top: 0;
				}
			}
			@include media(md) {
				display: flex;
				align-items: center;
				margin-bottom: 0;
				margin-left: -16px;
				margin-right: -16px;
				a {
					padding-left: 16px;
					padding-right: 16px;
				}
			}
		}
	}
	&__lang {
		display: inline-flex;
		align-items: center;
		font-size: 1.4rem;
		i {
			margin-right: 8px;
		}
		@include media(md) {
			margin-left: 64px;
		}
	}
	&__navtrigger {
		width: 32px;
		height: 20px;
		display: block;
		position: absolute;
		right: 24px;
		top: 18px;
		border-top: solid 2px $white;
		&--indent {
			top: 42px;
		}
		&::before {
			content: "";
			width: 32px;
			height: 2px;
			background-color: $white;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&::after {
			content: "";
			width: 32px;
			height: 2px;
			background-color: $white;
			display: block;
			position: absolute;
			bottom: 9px;
			left: 0;
		}
		&--close {
			border-top: 0;
			&::before {
				transform: rotate(45deg);
				bottom: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
		@include media(sm) {
			right: 48px;
		}
		@include media(md) {
			display: none;
		}
	}
}

// Language

.lang {
	display: none;
	background-color: $white;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: scroll;
	z-index: 9999;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	padding: 24px;
	@include media(sm) {
		padding: 48px;
	}
	@include media(md) {
		padding: 64px;
	}
	@include media(lg) {
		padding: 128px;
	}
	&--active {
		display: block;
		animation: anima 0.5s ease;
	}
	&--deactive {
		display: block;
		animation: animaOut 0.5s ease;
	}
	&__container {
		max-width: 1200px;
		margin: 0 auto;	
	}
	&__header {
		position: relative;
		margin-bottom: 16px;
		padding-right: 88px;
		padding-bottom: 24px;
		border-bottom: solid 1px rgba($primary, 0.08);
	}
	&__title {
		margin-bottom: 0;
	}
	&__close {
		position: absolute;
		top: 6px;
		right: 0;
		width: 32px;
		height: 20px;
		display: block;
		&::before {
			content: "";
			width: 32px;
			height: 2px;
			background-color: $primary;
			display: block;
			position: absolute;
			bottom: 9px;
			left: 0;
			transform: rotate(45deg);
		}
		&::after {
			content: "";
			width: 32px;
			height: 2px;
			background-color: $primary;
			display: block;
			position: absolute;
			bottom: 9px;
			left: 0;
			transform: rotate(-45deg);
		}
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: grid;
		grid-template-columns:repeat(1, 1fr);
		@include media(sm) {
			grid-template-columns:repeat(2, 1fr);
		}
		@include media(md) {
			grid-template-columns:repeat(3, 1fr);
		}
		&-item a {
			display: block;
			padding-top: 8px;
			padding-bottom: 8px;
			color: $primary;
			&:hover {
				color: rgba($primary, 0.48);
			}
		}
	}
}

@keyframes anima {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animaOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


